<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <aside class="menu">
            <h2>sistem internal</h2>

            <nav>
                <a href="/home">home</a>
                <a href="/chat">chat</a>
                <a href="/processos ">processos</a>
                <a href="/etapas">etapas</a>
                <a href="/sobre">sobre</a>
                <a href="/logaut" class="logaut">sair</a>
            </nav>
        </aside>
    </div>
    
</body>
</html>