<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"> 
    <link rel="stylesheet" href="/static/css/login.css">
    <title>{{.Title}}</title>
</head>
<body class="login-body">
    
    <div class="login-container">
        <h2>Acesse sua Conta</h2>

        {{if .Error}}
        <div class="alert-error">
            {{.Error}}
        </div>
        {{end}}

        <form method="POST" action="/login"> 
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required> 

            <button type="submit" class="btn-primary">Entrar</button>
        </form>
    </div>
</body>
</html>